<html>
    <head>
        <title>Results</title>
    </head>
    <body>
        <div>
            <%= rprice %>
        </div>
        <br>
        <div>
            <%= rpostage %>
        </div>
    </body>
</html>