<html>
    <head>
        <title>Results</title>
    </head>
    <body>
        <div>
            <script>
                var price = <%= rprice %>;
                console.log(price);
            </script>
        </div>
        <br>
        <div>
            <%= rpostage %>
        </div>
    </body>
</html>